// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.weatherThumbnails {
  display: flex;
}

.weatherThumbnail {
  margin-right: 15px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
}